<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Sesion</title>
</head>
<body>
    {%with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages%}
    <div class="alert alert-{{ category }}">
        {{message}}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="registro" id="registro">
        <form action="" method="post" id="form-registro" class="form-registro">

            <h1 class="registro-titulo">Registro</h1>

            <div class = "container">
            <label for="name" name="name" id="name-label" class="name-label">Nombre del Empleado:</label>
            <input type="text" name="name" placeholder="Nombre del empleado" id="name-input" class="name-input" required>
            </div>

            <div class = "container">
            <label for="password" name="password" id="password-label" class="name-label">Contraseña:</label>
            <input type="password" name="password" placeholder="Contraseña" id="password-input" class="password-input" required>
            </div>

            <div class = "container">
            <label for="password-confirm" name="password-confirm" id="password-confirm-label" class="password-confirm-label">Confirmacion de contraseña:</label>
            <input type="password" name="password-confirm" placeholder="Contraseña" id="password-confirm-input" class="password-confirm-input" required>
            </div>

            <div class = "container-button">
                <input type="submit" value="Registrarse" name="button" id="button" class="button">
            </div>
        </form>
    </div>
</body>
</html>